<div class="cont">
    <h2 style="text-align: center;" >Patient Details</h2>
    <hr>
    <table >
        <tr>
            <td>Pateind name</td>
            <td class="colon">:</td>
            <td>{{patient.patient_name}}</td>
        </tr>
        <tr>
            <td>Patient Age</td>
            <td class="colon">:</td>
            <td>{{patient.age}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td class="colon">:</td>
            <td>{{patient.gender}}</td>
        </tr>
        <tr>
            <td>Birdh Date</td>
            <td class="colon">:</td>
            <td>{{patient.dob}}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td class="colon">:</td>
            <td>{{patient.phone}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td class="colon">:</td>
            <td>{{patient.email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td class="colon">:</td>
            <td>{{patient.address}}</td>
        </tr>
        <tr>
            <td>Photo</td>
            <td class="colon">:</td>
            <td>{{patient.photo}}</td>
        </tr>
    </table>
</div>
